
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi

# Environment
.env
.env*.local

# dependencies
/node_modules
/webscrape/node_modules
/webscrape/mychrome


# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
.prettierrc

# System Files
.DS_Store
Thumbs.db

# others
pnpm-lock.yaml
.vercel
